<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <%- include('./partials/nav') %>
  <%- include('./partials/title') %>

  <main class="search-view-main">
    
  <div id="mySidenav" class="sidenav">
      <a id="closebtn">&times;</a>
      <h2 id="cookbookTitle">Cookbooks</h2>
      <% name.forEach(recipe => { %>
      <a id="cookbookNameColor" href="/cookbook/<%-`${recipe.id}`%>"><%= recipe.namecookbook %></a>
      <% }) %>

    </div>
    <section id="detailBtns">
      <span id="openBtn" style="font-size:30px;cursor:pointer"><img src="/styles/icons/books.svg"></span>
      <h2>Recipes Shown: <%- recipes.length %></h2>
    </section>

      <% recipes.forEach(recipe => { %>
        <section class="recipe">
          <%- include('./partials/recipe', {recipes: recipe}) %>
          <section class="indexButtons"> 
          <a href="/detail/<%= recipe.id %>"><button id="indexDetailBtn">Show Details</button></a>
          <a href="<%= recipe.youtubelink %>"><img class="youTube" src="/styles/icons/youtube2.svg"></a>
          </section>
        </section>
      <% }) %>
    </main>
    <%- include('./partials/up_button') %>
    <%- include('./partials/footer') %>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script src="/js/app.js"></script>
</body>
</html>