<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <%- include('./partials/nav') %>
  <%- include('./partials/title') %>

  <main class="search-view-main">
      <% recipes.forEach(recipe => { %>
        <section class="recipe">
          <%- include('./partials/recipe', {recipes: recipe}) %>
          <section class="indexButtons"> 
          <a href="/detail/<%=recipe.id%>"><button id="indexDetailBtn">Show Details</button></a>
          <a href="<%= recipe.youtubelink %>"><img class="youTube" src="/styles/icons/youtube2.svg"></a>
          </section>
        </section>
      <% }) %>
    </main>
</body>
</html>