<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <%- include('../partials/nav') %>
  <%- include('../partials/title') %>
  <div id="mainContainer">
    <section class="biography" id="chloie">
      <figure>
        <img src="./img/chloiePic.jpg" class="profilePic">
        <p>Chloie Parsons: I am a creative soul inhabiting an analytical brain. I love being outdoors and helping people achieve their dreams when it comes to their online presence. If it is sunny, you will find me on the lake, but snow will keep me by the fire. I have been to four countries and 50 states. My favorite color is orange and I have both a dog and a cat.</p>
        </figure>
        <figcaption><a href="https://github.com/ChloieP"><img class="octocat" src="./img/octocat.png"></a> <a href="https://www.linkedin.com/in/chloieparsons/"><i class="fa fa-linkedin"></i></a></figcaption>
    </section>
    <section class="biography" id="conor">
      <figure>
        <img src="./img/mikePic.jpeg" class="profilePic">
        <p>Michael Chapman: I am a software developer and a current student of the Apprenti program. For the past two years, I have been learning the ins and outs of software development in order to create elegant digital expereinces and performant applications through modern web technologies. I am a lifelong learner and try to learn something new everyday. I am looking orward to applying my new found knowledge through the Apprenti program in my future career.</p>
      </figure>
      <figcaption class="right">
        <a href="https://github.com/MichaelChapman305"><img class="octocat" src="./img/octocat.png"></a> <a href="https://www.linkedin.com/in/michaelchapman305/"><i class="fa fa-linkedin"></i></a>
      </figcaption>
    </section>
    <section class="biography" id="jeff">
      <figure>
        <img src="./img/jeffPic.jpg" class="profilePic">
        <p>Jeff Lawrence: Throughout my life I have always enjoyed learning and exploring new technologies as they entered the marketplace.  In recent years I have become very interested in software development.  I really enjoy solving problems and learning new concepts, both of which are an everyday occurrence when programming.  Until now, I never had the opportunity to transition careers and actually work in the field and I couldn't be more excited.</p>
      </figure>
      <figcaption>
        <a href="https://github.com/JeffLawrence1"><img class="octocat" src="./img/octocat.png"></a><a href="https://www.linkedin.com/in/jeff-lawrence1/"><i class="fa fa-linkedin"></i></a>
      </figcaption>
    </section>
  </div>
  <%- include('../partials/up_button') %>
</body>
</html>