<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
  <%- include('../partials/nav'); %>
  <% recipes.forEach(recipe => { %>
    <section>
      <h2><%= recipe.name %></h2>
      <h3><%= recipe.cookbook %></h3>
      <img src="<%= recipe.image %>" />
      <a href="<%= recipe.youtubeLink %>"><p>View demo on youtube.</p></a>
      <ul>
        <% ingredients.forEach(ingredient => { %>
          <li><%= ingredient %></li>
        <% }) %>
      </ul>
      <p><%= recipe.instructions %></p>
    </section>
 <% }) %>
</body>
</html>